<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	
	<bean id="disconfMgrBean" class="com.baidu.disconf.client.DisconfMgrBean"
	      destroy-method="destroy">
	     <!-- 不需要自动reload时可以不配置 
	    <property name="scanPackage" value="com.majun"/>-->
	</bean>
	<bean id="disconfMgrBean2" class="com.baidu.disconf.client.DisconfMgrBeanSecond"
	      init-method="init" destroy-method="destroy">
	</bean>
	
	<!-- 不需要自动reload时可以不配置 
	<context:component-scan base-package="com.majun"/>-->
	<!-- 不需要自动reload时可以不配置 
	<aop:aspectj-autoproxy proxy-target-class="true"/>-->

    <bean id="configproperties_disconf"
      class="com.baidu.disconf.client.addons.properties.ReloadablePropertiesFactoryBean">
	    <property name="locations">
	        <list>
	           <value>file:${config.path}/config/public.properties</value>
	        </list>
	    </property>
	</bean>
	
	<!-- 需要自动relad的话 class换成 com.baidu.disconf.client.addons.properties.ReloadingPropertyPlaceholderConfigurer -->
	<bean id="propertyConfigurer"
	      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="ignoreResourceNotFound" value="true" />
	    <property name="ignoreUnresolvablePlaceholders" value="true" />
	    <property name="propertiesArray">
	        <list>
	            <ref bean="configproperties_disconf"/>
	        </list>
	    </property>
	</bean>
	<!-- 
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:${config.path}/config/test.properties</value>
			</list>
		</property>
	</bean>
	 -->

	<bean id="channelService" class="com.majun.service.impl.ChannelServiceImpl">
		<property name="channelId" value="${com.yesmywine.com}" />
	</bean>
	
	<bean id="channelWrapperService" class="com.majun.service.impl.ChannelWrapperServiceImpl">
		<property name="channelService">
			<bean class="com.majun.service.impl.ChannelServiceImpl">
				<property name="channelId" value="${com.yesmywine.com}" />
			</bean>
		</property>
	</bean>

</beans>   